@model WebApp.HomeModelWeb4
<!DOCTYPE html>
<html class='no-ie7 no-ie8'>
<head>
  <title>@Model.title</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  @Html.Raw(Model.css)
  @Html.Raw(Model.cfg)
  <script type='text/javascript'>
    var isLogging = false;
    var OAuthDefaultClient = { '2': { 'default': '125816694160413', }, };
  </script>
  @Html.Raw(Model.js)
</head>
<body>
  <div id="block-gui-element" class="block-gui-cls" style="display: none" onclick="return false">
    <i class='fa fa-spinner fa-spin'></i>
  </div>
  <div id='splash' class='rtl'>
    <div class='container center splash-loading'>
      <i class='fa fa-spinner fa-spin'></i>
      <br />
      <br />
      Loading, it could take a while...
    </div>
  </div>
  <div id='global-media' class='rtl'></div>
  <div id='lm-alert-place' class='rtl'></div>
  <div id='lm-console-place' class='rtl'></div>
  <div id='lm-docdlg-place' class='rtl'></div>
  <div ng-app="appRoot" class="bl">
    <div data-ui-view></div>
  </div>
  <div id='root'></div>
  <script id='dummy' type='text/x-jsrender' data-for='Dummy'>
    {{for ~ActPage()}}{{/for}}
  </script>
  @Html.Raw(Model.htmls)
</body>
</html>